.Footer {
  background: #f1f0f0;
  height: 400px;
  padding: 50px 90px;
}

.Footer .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Footer .socials {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 60px;
}

.contact-text {
  text-align: left;
  padding-top: 15px;
}

.socials .instagram {
  background-image: url(images/instagram.png);
  background-size: cover;
  height: 30px;
  width: 30px;
}

.socials .twitter {
  background-image: url(images/twitterx.png);
  height: 30px;
  width: 30px;
}

.socials .whatsapp {
  background-image: url(images/whatsapp.png);
  height: 30px;
  width: 30px;
}

.Footer a {
  text-decoration: none;
}

.links {
  text-align: left;
}

.links h2 {
  font-size: 30px;
  font-weight: 500;
}

.links a {
  font-size: 15px;
  color: #000;
  opacity: 0.8;
  padding-top: 15px;
}

.links a:hover {
  text-decoration: underline;
}

.subscribe-form h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
}

.subscribe-form .email-input {
  padding: 15px;
}

.Footer button {
  background: #343333;
}

.Footer button:hover {
  color: #343333;
  background: #f1f0f0;
  border: 1px solid #343333;
}

.Footer .copyright {
  padding-top: 35px;
}
