.Service {
  background: #f1f0f0;
  height: 900px;
  padding: 30px 50px;
}

.Service h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 10px;
}

.Service h3 {
  font-family: "Quintessential", serif;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.Service p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}

.service-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 20px 10px;
}

.service-content .box {
  background: #d9d9d9;
  width: 350px;
  height: 300px;
  border: 1px solid #343333;
  border-radius: 10px;
  padding: 20px;
}

.service-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-top: 20px;
}

.service-content .management {
  background-size: cover;
  width: 60px;
  height: 60px;
}

.service-content .planning {
  background-size: cover;
  width: 60px;
  height: 60px;
}

.service-content .styling {
  background-size: cover;
  width: 60px;
  height: 60px;
}

.service-content .consultation {
  background-size: cover;
  width: 60px;
  height: 60px;
}

.service-content .decor {
  background-size: cover;
  width: 60px;
  height: 60px;
}

.service-content .renovation {
  background-size: cover;
  width: 60px;
  height: 60px;
}

@media (max-width: 900px) {
  .Service {
    text-align: center;
    padding: 50px 0;
    height: 100%;
  }

  .Service h2 {
    font-size: 20px;
  }

  .Service h3 {
    font-size: 20px;
  }

  .Service p {
    font-size: 15px;
  }

  .Service .service-content {
    gap: 20px;
  }

  .Service .box {
    height: 200px;
    width: 250px;
    text-align: center;
    padding: 10px;
  }

  .Service img {
    display: none;
  }
}
